<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluate Text</title>
  </head>
  <body>
    <div class="container">
      <h3 class="title">This app evaluates the text that you put in</h3>
      <div class="input">
        <form class="form-input">
          <label for="text">Enter text here:</label>
          <textarea class="text-input" id="text" rows="4" cols="50"> </textarea>
          <input type="submit" class="button" value="SUBMIT" />
        </form>
      </div>
      <div class="api-output">
        <h4 class="description">Output:</h4>
        <div class="response-output"></div>
      </div>
    </div>
  </body>
</html>
