<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluate Text</title>
  </head>
  <body>
    <div class="container">
      <h3 class="title">This app evaluates articles</h3>
      <div class="input">
        <form class="form-input">
          <label for="text"
            >Please enter a URL here and make sure that there is no space before
            URL:</label
          >
          <textarea class="text-input" id="text" rows="4" cols="50"> </textarea>
          <input type="submit" class="button" value="SUBMIT" />
        </form>
      </div>
      <div class="api-output">
        <h4 class="description">Output:</h4>
        <div class="response-output"></div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
