* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
}
